@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.popualrtitle::before {
  position: absolute;
  content: " ";
  width: 0.2rem;
  height: 0.6rem;
  top: 0.4rem;
  left: -0.5rem;
}
