@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.popualrtitle::before {
  position: absolute;
  content: " ";
  width: 0.2rem;
  height: 0.6rem;
  top: 0.4rem;
  left: -0.5rem;
}
.shadowbox {
  box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.07);
}
.tagshadow {
  box-shadow: 0px 0px 38px 55px rgba(245, 245, 245, 1);
}
.striped tr:nth-child(even) td:first-child {
  background-color: #f5f5f5;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.striped tr:nth-child(even) td:last-child {
  background-color: #f5f5f5;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.striped tr:nth-child(even) td:not(:last-child:first-child) {
  background-color: #f5f5f5;
}
.club_table tr th:not(:last-child) {
  padding-right: 2rem;
}
.ptsrow {
  padding-right: 0.2rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.gradivs {
  background: -webkit-linear-gradient(#f81539, #fc4308);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calender td {
  padding: 0.5rem;
}
.calender th {
  padding: 0.5rem;
}
.myimage::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  z-index: 15;
  top: 0;
  background: rgb(251, 68, 28);
  background: linear-gradient(
    135deg,
    rgba(251, 68, 28, 0.91) 0%,
    rgba(251, 202, 28, 0.6) 100%
  );
}
.Alaska::after {
  background: rgb(28, 50, 251);
  background: linear-gradient(
    135deg,
    rgba(28, 50, 251, 0.91) 0%,
    rgba(28, 251, 224, 0.6) 100%
  );
}
.Berlin::after {
  background: rgb(7, 156, 39);
  background: linear-gradient(
    135deg,
    rgba(7, 156, 39, 0.91) 0%,
    rgba(192, 255, 113, 0.6) 100%
  );
}
.Paris::after {
  background: rgb(113, 28, 251);
  background: linear-gradient(
    135deg,
    rgba(113, 28, 251, 0.91) 0%,
    rgba(251, 28, 148, 0.6) 100%
  );
}
.footergray::before {
  position: absolute;
  content: " ";
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
}
.lineleft::before {
  position: absolute;
  content: " ";
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: rgba(62, 50, 50, 0.05);
}
.instabtn {
  background: rgb(255, 117, 99);
  background: linear-gradient(
    132deg,
    rgba(255, 117, 99, 1) 0%,
    rgba(244, 92, 159, 1) 100%
  );
}
.twitbtn {
  background: rgb(103, 201, 245);
  background: linear-gradient(
    45deg,
    rgba(103, 201, 245, 1) 0%,
    rgba(44, 165, 224, 1) 100%
  );
}
@media only screen and (max-width: 640px) {
  .topPosts {
    margin-bottom: 7rem;
  }
}
.abscenter {
  left: 50%;
  transform: translate(-50%, 0);
}
.fullabscenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
